.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: #282c34;
}

.mov_card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}
.mov_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
  border-radius: 5px 5px 0 0;
}
.movies_list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #E0A800;
  color: white;
}
.new_mov_card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 515px;
  border-radius: 5px;
  margin: 15px;
}
.titleMovieList {
  font-family: 'Lato', sans-serif;
  margin:1em 0 0 0;
  text-align: center;
  top: 0;
}
.DescriptionDiv {
  min-height: 530px;
}
.my_iframe{
  text-align: center;
  border-radius: 2%;
  border: #E0A800 1px solid;
}
Link{
  text-decoration: none;
}